.home {
  text-align: center;
  border: 3px solid #aaa;
  padding: 0;
  margin-top: 100px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Global Styles */
:root {
  --nav-primary-color: lightgreen;
  --nav-text-color: Black;
  --nav-a-hov-color: White;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  color: var(--nav-primary-color);
  text-decoration: none;
}
a:hover {
  color: #666;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 0;
  background-color: #666;
  color: #fff;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: var(--nav-text-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: var(--nav-a-hov-color);
}

table {
  width: 100%;
  border: 1px solid;
}
th {
  background-color: #666;
  color: #fff;
}

button {
  display: inline-block;
  background-color: #666;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 1em;
  padding: 20px;
  width: fit-content;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.1em;
}
